Package: dataone-mercury
Version: 1.0.0-RC6
Section: utils
Priority: optional
Architecture: all
Depends: dataone-cn-solr, dataone-cn-version-tool
Installed-Size: 1 kb
Maintainer: Skye Roseboom <sroseboo@dataone.unm.edu>
Description: This is a metapackage that installs the DataONE variant of the Mercury search component.  Mercury is developed and maintained by Oak Ridge National Laboratory which has provided dataONE this variant.  See http://mercury.ornl.gov/ for more information about the Mercury search component.  This installation of mercury is intended to make use of the apache solr index created by the dataone-cn-index component.
