Package: dataone-cn-audit-index
Version: 0.0.1
Section: utils
Priority: optional
Architecture: all
Depends: openjdk-8-jdk, dataone-cn-os-core, dataone-solr-jetty, dataone-zookeeper
Installed-Size: 1 kb
Maintainer: Skye Roseboom <sroseboo@dataone.unm.edu>
Description: This is a metapackage that configures a solr core used for logging cn audit messages.
