<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">



	<bean id="myDataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://localhost:3306/mercury3_harvests_datanet</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value>pcmss4e</value>
		</property>

	</bean>


	<bean id="mySessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="myDataSource" />
		</property>
		<property name="mappingResources">
			<list>
				<value>gov/ornl/mercury3/commands/hibernateTables.hbm.xml</value>
				
			</list>
		</property>
		<property name="hibernateProperties">
			<value>hibernate.dialect=org.hibernate.dialect.MySQLDialect</value>
		</property>
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>
	
	

	<bean id="mercury_db_Service" 
		class="gov.ornl.mercury3.services.Mercury_db_ServiceImpl">
		
		<property name="tfdao" ref="TransformedFilesDAO"></property>
		
		<property name="sdao" ref="SessionDAO"></property>
		<property name="qdao" ref="QueryDAO"></property>
		<property name="tdao" ref="TermDAO"></property>
		<property name="rsdao" ref="ResultSetDAO"></property>
		<property name="rdao" ref="RetrievalDAO"></property>
		<property name="refdao" ref="ReferralDAO"></property>
		<property name="ratedao" ref="MercuryRateusDAO"></property>
		
		<property name="transactionTemplate">
			<bean class="org.springframework.transaction.support.TransactionTemplate">
				<property name="transactionManager" ref="txManager"/>
			</bean>
		</property>
	</bean>

	<bean id="TransformedFilesDAO"
		class="gov.ornl.mercury3.services.TransformedFilesDAO">
		<property name="sessionFactory">
			<ref bean="mySessionFactory" />
		</property>
	</bean>
	<bean id="MercuryRateusDAO"
		class="gov.ornl.mercury3.services.MercuryRateusDAO">
		<property name="sessionFactory">
			<ref bean="mySessionFactory" />
		</property>
	</bean>

	<bean id="SessionDAO"
		class="gov.ornl.mercury3.services.SessionDAO">
		<property name="sessionFactory">
			<ref bean="mySessionFactory" />
		</property>
	</bean>
	
	<bean id="TermDAO" class="gov.ornl.mercury3.services.TermDAO">
		<property name="sessionFactory">
			<ref bean="mySessionFactory" />
		</property>
	</bean>
	
	<bean id="RetrievalDAO"
		class="gov.ornl.mercury3.services.RetrievalDAO">
		<property name="sessionFactory">
			<ref bean="mySessionFactory" />
		</property>
	</bean>
	

	<bean id="ResultSetDAO"
		class="gov.ornl.mercury3.services.ResultSetDAO">
		<property name="sessionFactory">
			<ref bean="mySessionFactory" />
		</property>
	</bean>
	

	<bean id="ReferralDAO"
		class="gov.ornl.mercury3.services.ReferralDAO">
		<property name="sessionFactory">
			<ref bean="mySessionFactory" />
		</property>
	</bean>
	
	
	<bean id="QueryDAO" class="gov.ornl.mercury3.services.QueryDAO">
		<property name="sessionFactory">
			<ref bean="mySessionFactory" />
		</property>
	</bean>
	


</beans>