Package: dataone-cn-solr3-tomcat7
Source: solr
Version: 1.3.0
Architecture: all
Installed-Size: 92
Depends: solr-common (= 3.4.0~blubolt2~lucid1), tomcat7
Conflicts: solr-jetty
Section: java
Priority: optional
Homepage: http://lucene.apache.org/solr/
Description: enterprise search server based on Lucene - Tomcat integration
 Solr is an open source enterprise search server based on the Lucene
 Java search library, with XML/HTTP and JSON APIs, hit highlighting,
 faceted search, caching, replication, and a web administration
 interface. It runs in a Java servlet container such as Tomcat.
 .
 This package provides the Tomcat integration files for Solr.
Original-Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
