Package: dataone-jetty
Version: 2.0.0
Section: utils
Priority: optional
Architecture: all
Depends: openjdk-8-jdk
Installed-Size: 1 kb
Maintainer: Skye Roseboom <sroseboo@dataone.unm.edu>
Description: This is a metapackage that installs the jetty servlet container. Currently installs version 8.1.11.
